<nav class="navbar p-3 navbar-light">
  <div class="container-fluid">
    <div></div>
    <h3>Categories</h3>
    <%= render "partials/menu"%>
  </div>
</nav>

<section id="groups" class="container-fluid">
  <%= render "partials/alert"%>

  <div class="container mt-5  ">
    <% @groups.each do |group| %>
      <%= link_to group_transactions_path(group), class: "text-decoration-none text-dark" do %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>
</section>

<footer class="mt-auto p-3 border">
  <div class="text-center  border border-white  rounded bg-green">
    <%= link_to "Add Category", new_group_path, class: "text-decoration-none p-2 text-white index-btn" %>
  </div>
</footer>