<nav class="navbar p-3 navbar-light">
  <div class="container-fluid">
    <%= link_to "<", groups_path, class: "text-decoration-none fs-3 px-2 text-white" %>
    <h3>Categories</h3>
    <%= render "partials/menu" %>
  </div>
</nav>

<section id="groups" class="container-fluid">
  <%= render "partials/alert" %>

  <div class="container my-5">
 
    
  <div class="container mb-3 d-flex border">
  <div class="image p-2">
    <%= image(@group.image) %>
  </div>
  <div class="flex-fill p-2">
    <div class="d-flex justify-content-between">
      <p><%= @group.created_at.strftime('%d %b %Y') %></p>
  </div>
</div>
</div>
 
      <div class="text-end mb-3">
        <%= button_to "Delete", @group, method: :delete, class: "btn btn-outline-danger" %>
      </div>
      <%= link_to "Edit this group", edit_group_path(@group) %> |
      <%= link_to "Back to groups", groups_path %>
  

  </div>
</section>

<div>
</div>