<section class="container col-10">
<%= form_with(url: group_transactions_path, model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control"  %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, style: "display: block" %>
      <%= form.text_field :amount, class: "form-control"  %>
    </div>

  <div class="text-center">
    <%= form.submit  class: "btn btn-success" %>
  </div>
<% end %>
</section> 
