<nav class="navbar p-3 navbar-light">
  <div class="container-fluid">
    <%= link_to "<", groups_path, class: "text-decoration-none fs-3 px-2 text-white" %>
    <h3>Transactions</h3>
    <%= render "partials/menu" %>
  </div>
</nav>

<div id="transactions" class="container-fluid p-0 m-5">
  <%= render "groups/groupi", group: @group %>
  <%= render "partials/alert" %>
  <div class="container mt-5  ">
 
  <% @transactions.each do |transaction| %>
    <%= link_to group_transaction_path(transaction.group_id, transaction.id), class: "text-decoration-none text-dark" do %>
      <%= render transaction %>
    <% end %>
  <% end %>
  </div>
</div>

<footer class="mt-auto p-3 border">
  <div class="text-center border border-white rounded">
    <%= link_to "New Transaction", new_group_transaction_path(@group), class: "text-decoration-none p-2 text-white new-btn" %>
  </div>
</footer>


